body{
    background: #eeeeee;
    width: 100%;
    z-index: 100;
}

#intro{
    background-color: #000000;
    width: 100%;
    padding: 3vmax 0;
}

#title {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    color: white;
    font-family: inter, sans-serif;
    font-weight: bolder;
}

#title_text {
    text-justify: auto;
    display: block;
    margin: 8vmax 5vmax  auto 0;
    padding: 2vmax ;
    border: solid 1px darkgray;
}

.img_container {
    margin: 4vmax auto -15vmax auto;
    width: 22vmax;
    height: 26vmax;
    padding-top:2vmax;
}

.img_cv {
    margin: 0;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2.5vmax;
    font-family: Yu Gothic UI Light, Helvetica, sans-serif;
    text-align: right;
    text-justify: auto;
}

h1 span {
    font-family: Yu Gothic UI Light, Helvetica, sans-serif;
    font-weight: 100;
    color: #eeeeee;
}

h2 {
    font-size: 3.5vmax;
    text-align: right;
    margin: auto;
}

h2 span {
    font-size: 3vmax;
    text-align: right;
    font-family: Yu Gothic UI Light, Helvetica, sans-serif;
    font-weight: 100;
}

#presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    height: auto;
    background: #eeeeee;
}

h3 {
    font-family: inter, sans-serif;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    margin : auto;
    font-weight: 700;
    font-size: 2.6vmax;
    letter-spacing: 0.4vmax;
}

#box_presentation {
    display: flex;
    margin: 6vmax 6vmax 4vmax 0;
    font-family: "Yu Gothic Light", Arial, sans-serif;
    text-align: justify;
    background-color: #eeeeee;
    padding: 0 2vmax;
}

.text_presentation {
    padding: 0 2vmax;
}

p {
    font-family: "Yu Gothic Light", Arial, sans-serif;
    font-size: 1.2vmax;
}

#project{
    padding-top:2vmax;
    width: 90%;
    margin: auto;
    height: auto;
    display: block;
    padding-bottom: 4vmax;
}

h4 {
    width: auto;
    color: black;
    font-family: inter, sans-serif;
    font-weight: bolder;
    font-size: 2.5vmax;
    text-transform: uppercase;
    margin: 0;
}

.polygone {
    margin: auto;
    padding : 6vmax;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background-color: #80B5CC;
    font-family: "Yu Gothic Light", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2vmax;
}

.polygone:hover {
    background: black;
    color: #eeeeee;
    transform: translateY(+10px);
    transition: color 0.8s ease-out;
}

.polygone_section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 2vmax;
    width: 80%;
}

#techno {
    margin: auto;
    height: auto;
    display: block;

}
.img_techno{
    margin:auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 4vmax;
}

.img_techno div {
    margin: auto;
}

.img_techno div .img_tech{
    width: 6vmax;
}

.subtitle{
    color: #000000;
    font-weight: 100;
    padding: 2vmax;
}

.techno_container{
    padding: 4vmax 2vmax;
    width: 90%;
    margin: auto;
}

.color-box {
    position: absolute;
    width: 26vmax;
    height: 30vmax;
}

#un {
    width: 5vmax;
    height: 5vmax;
    background: #eeeeee;
    position: absolute;
    right: 1vmax;
    top:-3vmax;
}

#deux {
    position: absolute;
    width: 6vmax;
    height: 6vmax;
    background: #80B5CC;
    bottom: 1vmax;
    right: 0vmax;
}

#trois {
    position: absolute;
    width: 8vmax;
    height: 8vmax;
    background: black;
    bottom: -10vmax;
    right: 10vmax;
}

#quatre {
    position: absolute;
    width: 4.5vmax;
    height: 4.5vmax;
    background: #C0F4FF;
    bottom:-4vmax;
    left:5vmax;
    z-index: 2;
}

#cinq{
    position: absolute;
    width: 5vmax;
    height: 5vmax;
    background: #111111;
    bottom: 2vmax;
    left: -3vmax;
}

#six {
    position: absolute;
    width: 3vmax;
    height: 3vmax;
    background: #111111;
    right: -2vmax;
    bottom: -1vmax;
}

#sept {
    position: absolute;
    width: 3vmax;
    height: 3vmax;
    background: #2F84B5;
    top:1vmax;
    right: -1vmax;
}

@media all and (max-width: 900px) {
    #title {
        display: block;
        text-align: center;
    }
    #title_text{
        width: 70%;
        margin:auto;
    }

    .img_container {
        margin: 5vmax auto auto auto;
    }

    h2, h1 {
        text-align: center;
    }

    #presentation {
        display: block;
        text-align: center;
    }

    #box_presentation {
        margin: 5vmax auto;
        width: 50%;
    }
    .color-box {
        display: none;
    }
}