body{
    background: white;
    width: 100%;
    z-index: 100;
}

/* font style */
p {
    font-family: "Yu Gothic Light", Arial, sans-serif;
    font-size: 1vmax;
    padding:0;
    margin:0;
}

h1 {
    font-size: 5vmax;
    text-align: center;
    margin-top: 4vmax;
}

h1 span {
    font-size: 4vmax;
    font-family: Yu Gothic UI Light, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    margin-right: -30vmax;
}


h2 {
    font-family: Inter, Helvetica, sans-serif;
    font-size: 1.8vmax;
    margin: auto;
    font-weight: 700;
    text-align: right;
}

h2 span {
    font-size: 2vmax;
    font-family: Yu Gothic UI Light, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
}

h3 {
    font-family: inter, sans-serif;
    margin-bottom: 2vmax;
    font-weight: 700;
    font-size: 2.5vmax;
    letter-spacing: 0.2vmax;
    text-transform: uppercase;
}

h4 {
    width: auto;
    color: black;
    font-family: inter, sans-serif;
    font-weight: bolder;
    font-size: 1.8vmax;
    text-transform: uppercase;
    margin: 0;
}

h5 {
    font-family: "Yu Gothic UI Light", Arial,sans-serif;
    font-weight: 100;
    padding:0;
    margin:2vmax;
}
h5 span {
    font-family: inter, sans-serif;
    margin-bottom: 2vmax;
    font-weight: 700;
    font-size: 2.5vmax;
    letter-spacing: 0.2vmax;
    text-transform: uppercase;
}

h6 {
    font-size: 1.5vmax;
    color: black;
    text-transform: uppercase;
    background-color: white;
    padding:1vmax;
    margin-bottom: 1vmax;;
    margin-top:0;
}

h7 {
    font-size: 1.2vmax;
    text-transform: uppercase;
    font-weight: bold;;

}

/*section 1*/
#intro{
    background-color: #111111;
    width: 100%;
    padding: 3vmax 0;
}

#title {
    width: 100%;
    height: auto;
    color: white;
    font-family: inter, sans-serif;
    font-weight: bolder;
    padding-bottom: 2vmax;
}

.title_text {
    color: white;
    text-justify: auto;
    display: block;
    margin-top: 2vmax;
}

.title_text h2 {
    margin-right: 4vmax;
    margin-top: 5vmax;
}

 /*img CV + color boxes*/
.img_container {
    margin:auto;
    width: 60%;
    height: auto;
    border: solid 2px white;
    background-color: #111111;
}

.img_cv {
    width: 100%;
    height: auto;
    position: relative;
    right: -4vmax;
    bottom: -4vmax;
    padding:0;
}

.color-box {
    position: absolute;
    width: 26vmax;
    height: 30vmax;
}

/*paragraphe presentation*/
#presentation {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 4vmax;
    padding-top: 2vmax;
}

#box_presentation {
    position: relative;
    margin:auto;
    width: 30vmax;
    display: block;
    font-family: "Yu Gothic Light", Arial, sans-serif;
    font-weight: 100;
    padding: 2vmax;
}

/*section formation*/
.formation_section{
    height: 100%;
    width: 80%;
    background-color: #eeeeee ;
    margin: 2vmax auto;
}

.program_section{
    background-color: #111111;
    height: 100%;
    width: 80%;
    margin: auto;
}

.formation_title{
    display: block;
    width: 80%;
    margin:auto;
    color: black;
    text-align: center;
}
.rythm_box{
    display: block;
}

.logo_oclock{
    margin:3vmax auto;
    width: 50%;
}

.formation_detail{
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 45% 55%;
    padding: 2vmax 0;
}
.program_container{
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 55% 45%;
}

.img_alternance, .img_program{
    margin: auto;
    width: 100%;
    height: auto;
}

.rythm_formation {
    background-color: black;
    margin: 4vmax auto;
    text-align: center;
    color: white;
    max-width: 30%;
    min-width: 10vmax;
    padding: 2vmax;
    box-shadow: 2px 4px 6px dimgrey;
}

.programme_formation{
    height: fit-content;
    text-align: center;
    margin: auto ;
}

.info_formation_box{
    display: block;
    margin:auto;
}

.program_details {
    display:none;
    visibility: hidden;
    padding: 10px;
    -webkit-transition: visibility 400ms;
    transition: visibility 100ms;
    color: white;
}

.programme_formation div h6{
    box-shadow: 1px 2px 3px black;
    width: auto;
}

.programme_formation:hover h6{
    background-color: black;
    color: white;
    transition: color 0.8s ease-out;

}

.programme_formation:hover .program_details  {
    display: block;
    visibility: visible;
    -webkit-transition: visibility 1s;
    transition: visibility 1s;
}

.techno_container{
    padding: 4vmax 2vmax;
    width: 80%;
    margin: auto;
}

.img_techno{
    margin: 2vmax auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.img_techno div {
    margin: auto;
}

.img_techno div .img_tech{
    width: 6vmax;
}
.img_tech {
    margin-bottom: 1vmax;
}

.subtitle{
    color: #000000;
    font-weight: 100;
    padding: 2vmax;
}


@media all and (max-width: 900px) {
    #title {
        display: block;
        text-align: center;
    }
    #title_text{
        width: 70%;
        margin:auto;
    }

    .img_container {
        width: 30%;
    }

    h2, h1 {
        text-align: center;
    }

    #presentation {
        display: block;
        text-align: center;
        height: auto;
    }

    #box_presentation {
        right: 0;
        margin: auto;
        top: -5vmax
    }

    .img_container {
        width: 40%;
    }
}