p span {
    font-weight: 700;
}

.parcours {
    width: 70%;
    margin: auto;
    padding: 2vmax;
    display: flex;
    flex-wrap: wrap;
}
.ynov{
    width: 20vmax;
    color: black;
}

.array {
    background-color: #eeeeee;
    border: #111111 solid 2px;
    padding: 2vmax;
    width: 50%;
    height: fit-content;
}


.projets {
    background-color: #222222;
    color: white;
    padding:1vmax;
    height: fit-content;
    margin-left: -7vmax;
    margin-top: 6vmax;
    width: 50%;
}

@media all and (max-width: 900px) {
    .projets, .array{
        width: 100%;
        margin: auto;
    }
}
