<footer id="footer">
    <div class="footer-link">
        <div class="footer_contact">
            <h5>CONTACTEZ-MOI</h5>
            <a href="https://www.linkedin.com/in/Justine-Seguin-Le-boulanger" target="_blank"><img src="img/img_5.png" alt="logo linkedin"></a>
            <a href="mailto:justine.leboulanger@gmail.com" >
                <img src="img/img_6.png" alt="logo gmail">
            </a>
        </div>
        <div class="footer_ressources">
            <h5>RESSOURCES</h5>
            <a href="/cv"  target="_blank" style="text-decoration: none">CV</a>
            <a href="https://github.com/Justine-slb" style="text-decoration: none"><img src="img/github.png" style="background-color: white"/></a>
        </div>
    </div>
    <div style="margin:auto; width: 100%;"><p style="color:white;text-align: center; padding-bottom: 5vmax">© 2022 JUSTINE SEGUIN-LE BOULANGER</p></div>
</footer>