<footer>
    <div class="footer-link">
        <div class="footer_contact">
            <h5>CONTACTEZ-MOI</h5>
            <a href="https://www.linkedin.com/in/Justine-Seguin-Le-boulanger" target="_blank"><img src="img/img_5.png" alt="logo linkedin"></a>
            <a href="mailto:justine.leboulanger@gmail.com?subject = Feedback&body = Message" target="_blank">
                <img src="img/img_6.png" alt="logo gmail">
            </a>
        </div>
        <div class="footer_ressources">
            <H5>RESSOURCES</H5>
            <a href="/cv"  target="_blank" style="text-decoration: none">CV</a>
            <a href="" style="text-decoration: none">GITHUB</a>
        </div>
    </div>
    <div style="margin:auto; width: 100%;"><p style="color:white;text-align: center; padding-bottom: 5vmax">© 2022 JUSTINE SEGUIN-LE BOULANGER</p></div>
</footer>