<header>
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Justine SEGUIN-LE BOULANGER</a>
        <a href="/cv">CV</a>
        <a href="#about">Portfolio</a>
        <a href="#contact">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</header>