<header>
    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Justine<span> SEGUIN-LE BOULANGER</span></a>
        <a href="#footer">Contact</a>
        <a href="/cv">CV</a>
        <a href="javascript:void(0);" class="icon" id="icon">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</header>