<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width">
    <script src="myscript.js"></script>
    <script src="https://documentcloud.adobe.com/view-sdk/viewer.js"></script>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/cv.css">
    <title>CV</title>

</head>
<body>
{{>header}}

<div id="adobe-dc-view" style="width: 80%; margin:5vmax auto;"></div>

{{>footer}}
</body>

</html>