<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="myscript.js"></script>
    <meta name="description"
          content="in line Justine Seguin-Le boulanger's cv. Junior developer in Toulouse, south of France">
    <meta name="keywords" content="web developer, Toulouse, south of France, front-end developer, back-end developer"/>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/parcours.css">

    <script src="https://documentcloud.adobe.com/view-sdk/viewer.js"></script>
    <title>CV</title>
</head>

<body>
{{>header}}
<script type="text/javascript">

</script>
<section class="cv" style="width: 100%; height: auto; padding-top: 6vmax">
<div id="adobe-dc-view" style="width: 80%; margin: auto"></div>
</section>
{{>footer}}
</body>

</html>