<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/carousel_project.css">
    <title>welcome!</title>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        function changeByCross() {
            if (document.getElementById("toggle").checked) {
                document.getElementById("icon").innerHTML = "⤬";
            } else {
                document.getElementById("icon").innerHTML = "☰"
            }
        }
    </script>
</head>

<body>
{{>header}}
<section id="intro">
    <div id="title">
        <div class="img_container">
            <div class="color-box">
                <div id="un"></div>
                <div id="deux"></div>
                <div id="quatre"></div>
                <div id="trois"></div>
                <div id="cinq"></div>
                <div id="six"></div>
                <div id="sept"></div>
            </div>
            <img class="img_cv" id="photo_cv" src="img/img.png" alt="photo CV">
        </div>
        <div id="title_text">
            <h2>DEVELOPPEUR WEB<br><span>Alternance</span></h2>
        </div>
    </div>
</section>

<section id="presentation">
    <div></div>
    <div id="box_presentation">
        <h3>PRESENTATION</h3>
        <div class="text_presentation">
            <p style="font-weight: bolder">BONJOUR!</p>
            <p>Je suis Justine,<br>Etudiante
                passionnée en développement WEB, je prépare le titre de DEVELOPPEUR/CONCEPTEUR d'application avec le centre de formation O'Clock. <br>Je suis à la recherche d’une entreprise prête à m’accueillir et
                m’accompagner durant 16 mois dans le cadre d’un contrat d'alternance à compter du 3
                Octobre.
                <br>Je vous laisse parcourir
                le site et vous invite à prendre contact si vous souhaitez que l’on échange.
                <br><br>Bonne visite !
            </p>
        </div>

    </div>
</section>
<section>
    {{>carousel}}
</section>

<section id="project">
    <div class="portfolio_title">
        <h4>portfolio</h4>
        <p>Ci-dessous vous trouverez une partie des projets réalisés durant l'année.</p>
    </div>
    <div class="polygone_section">
        <div class="polygone">
            <a>crawler</a>
        </div>
        <div class="polygone">
            <a>forum</a>
        </div>
        <div class="polygone">
            <a>pendu</a>
        </div>
    </div>

</section>

<section id="techno">
    <div class="techno_container">
        <div>
            <h4 class="subtitle">Technologies</h4>
            <p></p>
        </div>
        <div class="img_techno">
            <div><img class="img_tech" src="img/img_1.png"><p>Node.js</p></div>
            <div><img class="img_tech" src="img/img_2.png"><p>Angular</p></div>
            <div><img class="img_tech" src="img/img_3.png"><p>MySql/Sqlite</p></div>
            <div><img class="img_tech" src="img/img_4.png"><p>Javascript/Typescript</p></div>
        </div>
    </div>
</section>
{{>footer}}
</body>
</html>